<nav>
  <ul class="flex flex-col md:flex-row justify-center">
    <%= if @current_user do %>
      <li class="px-5"><%= @current_user.email %></li>

      <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
        <li class="px-5 link">
          <%= link("LiveDashboard", to: Routes.live_dashboard_path(@conn, :home)) %>
        </li>
      <% end %>

      <li class="px-5 link">
        <%= live_redirect(gettext("🛖 The Barn"),
          to: Routes.media_index_path(@conn, :index, @locale),
          class: "link"
        ) %>
      </li>
      <li class="px-5 link">
        <%= link(gettext("Send Invitation"), to: Routes.user_invitation_path(@conn, :new, @locale)) %>
      </li>
      <li class="px-5 link">
        <%= link(gettext("Settings"), to: Routes.user_settings_path(@conn, :edit, @locale)) %>
      </li>
    <% else %>
      <li>
        <%= link(gettext("Log in"),
          to: Routes.user_session_path(@conn, :new, @locale),
          class: "link"
        ) %>
      </li>
    <% end %>
  </ul>

  <%= if Jarm.Accounts.User.has_admin_privileges(@current_user) do %>
  <div class="flex flex-row flex-nowrap gap-5 pt-5 text-center justify-center">
    <.link
      href={Routes.admin_user_list_path(@conn, :index, @locale)}
      class="link"
    >
      User List
    </.link>
    <.link
      href={Routes.admin_invitations_list_path(@conn, :index, @locale)}
      class="link"
    >
      Invitations
    </.link>
    <.link
      href={Routes.admin_post_list_path(@conn, :index, @locale)}
      class="link"
    >
      Posts
    </.link>
  </div>
  <% end %>

  <div class="flex flex-row flex-nowrap gap-5 p-5 text-center justify-center">
    <.link
      href={
        URI.parse(@conn.request_path).path
        |> String.replace_prefix("/#{@locale}", "/en")
      }
      class="link"
    >
      🇺🇸 English
    </.link>
    <.link
      href={
        URI.parse(@conn.request_path).path
        |> String.replace_prefix("/#{@locale}", "/is")
      }
      class="link"
    >
      🇮🇸 Íslenska
    </.link>
    <.link
      href={
        URI.parse(@conn.request_path).path
        |> String.replace_prefix("/#{@locale}", "/fil")
      }
      class="link"
    >
      🇵🇭 Filipino
    </.link>
  </div>
</nav>
