<h1 class="text-3xl pb-5">All Media</h1>

<div class="my-5 p-5 border rounded-md bg-white flex flex-wrap gap-5 justify-around">
  <%= for m <- @media do %>
    <figure class="max-w-[200px]">
      <img
        id={m.uuid}
        class="bg-gray-200 shadow-md border border-lightgray border-[1px]"
        width="700"
        height="700"
        src={Routes.media_path(@socket, :show_compressed, m.uuid)}
        loading="lazy"
      />
    </figure>
  <% end %>
</div>
