<div class="my-5 p-5 md:p-10 border rounded-md bg-slate-800 light:bg-white">
  <h1 class="text-2xl mb-5"><%= gettext("Add translation") %></h1>

  <.form
    :let={f}
    for={@changeset}
    id="add-translation-form"
    class="flex flex-col bg-slate-800 light:bg-white"
    phx-change="validate"
    phx-submit="save"
  >
    <div class="my-5">
      <label for="original-jarm" class="font-bold"><%= gettext("Original jarm") %></label>
      <div name="original-jarm" class="border px-5">
        <%= text_to_html(@post.body, attributes: [class: "my-5"]) %>
      </div>
    </div>

    <.input
      field={f[:body]}
      type="textarea"
      label={gettext("Jarm")}
      autofocus={true}
      rows={
        max(String.split(Map.get(@changeset.changes, :body, ""), "\n") |> length(), 5)
        |> Integer.to_string()
      }
    />

    <.input
      field={f[:locale]}
      type="select"
      label={gettext("Language")}
      options={["🇺🇸 English": "en", "🇮🇸 Íslenska": "is", "🇵🇭 Filipino": "fil"]}
      prompt={gettext("Choose language")}
    />

    <.input field={f[:post_id]} type="hidden" value={@post.id} />

    <%= submit(gettext("Save"),
      phx_disable_with: gettext("Saving…"),
      class: "border rounded-md px-4 py-3 bg-blue-600 text-zinc-200 hover:bg-blue-500"
    ) %>
  </.form>
</div>

<p>
  <%= live_redirect(gettext("Back"),
    to: ~p"/#{@locale}/posts/#{@post.id}",
    class: "link"
  ) %>
</p>
