<div class="flex justify-between items-center">
  <h1 class="text-3xl pb-5"><%= gettext("🌾 The Pasture") %></h1>

  <%= if can?(@current_user, create(Post)) do %>
    <.link href={~p"/#{@locale}/posts/new"} class="button px-4 py-3">
      <%= gettext("🐑 New jarm") %>
    </.link>
  <% end %>
</div>

<section id="posts" phx-update="append">
  <%= for post <- @posts do %>
    <%= live_component(JarmWeb.PostLive.TimelinePostComponent,
      id: post.id,
      post: post,
      current_user: @current_user,
      locale: @locale
    ) %>
  <% end %>
</section>

<section id="pagination" class="text-center p-5">
  <%= if @last_post != nil do %>
    <%= live_patch(gettext("Older jarms"),
      to: ~p"/#{@locale}?older_than=#{@last_post.id}",
      class: "link"
    ) %>
  <% else %>
    <p>No more posts</p>
  <% end %>
</section>
