[Unit]
Description=Inner Circle
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=<YOUR_USERNAME>

EnvironmentFile=/path/to/inner_circle_env

ExecStart=/bin/bash -c '/path/to/inner_circle/bin/inner_circle start'

[Install]
WantedBy=multi-user.target