<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <.live_title>
      <%= assigns[:page_title] || "Jarm" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>
  <body class="bg-slate-900 text-slate-100 light:bg-gray-100 light:text-black">
    <header class="border-b p-5 mb-5 bg-slate-800 light:bg-white flex flex-col justify-center items-center text-center md:justify-between md:flex-row">
      <h1 class="text-3xl p-5 md:p-1">
        <%= live_redirect("🐑 Jarm", to: Routes.post_index_path(@conn, :index, @locale)) %>
      </h1>

      <section class="text-center">
        <%= _user_menu(assigns) %>
      </section>

      <p class="p-5 md:p-1">
        <%= if @current_user != nil do %>
          <%= link(gettext("Log out"),
            to: Routes.user_session_path(@conn, :delete, @locale),
            method: :delete,
            class: "link"
          ) %>
        <% end %>
      </p>
    </header>
    <%= @inner_content %>
  </body>
</html>
